In [9]:
my_name = "Gökce Sanlialp"
print(my_name)

Gökce Sanlialp


In your file create a variable called my_name with your name as the value. Put your name inside string quotes, e.g., "my name". Then add a line of code to print the variable name.

Save your file and run the cell. You should see your name printed. If not, investigate and fix it.

In [16]:
my_age = 40
print(my_age)

40

Exercise 2
Create a variable called age with a number that is your age. Do not use string quotes for numbers.

Add a line to print that variable. Save the file and run the cell. You should see your age.

In [11]:
Julia_age = 32
my_age = 40
age_diff = my_age - Julia_age
print(my_age)
print(age_diff)

40
8

Exercise 3
Create a variable called julia_age with the value 32. Create another variable called age_diff and set it to an expression that calculates your age minus Julia's age. Print your age and the value of age_diff. If you are younger than Julia, age_diff should be a negative number.

In [10]:
age = int(input("Enter your age: "))
if age > 21:
    print("You are older than 21")
elif age == 21:
    print("You are in fact 21")
else:
    print("You are younger than 21")

You are older than 21

Exercise 4
Write a conditional that compares the variable holding your age with the number 21. It should print either "You are older than 21" or "You are not older than 21", appropriately, depending on your age. Save your file and run the cell. Make sure you see the correct message. Try changing your age in the file to make sure the other message prints when it should.

In [14]:
if Julia_age > my_age:
    print("Julia is older than me")
elif Julia_age == my_age:
    print("We are the same age")
else:
    print("I am older than Julia")

I am older than Julia

Exercise 5
Write a conditional that compares your age with Julia's age. This conditional will need to test if you are older, younger, or the same age, and print, appropriately, either "Julia is older than you", "Julia is younger than you", or "You are the same age as Julia".

In [17]:
%whos

Variable    Type    Data/Info
-----------------------------
Julia_age   int     32
age         int     40
age_diff    int     8
julia_age   int     32
my_age      int     40

Exercise 6
Create a list with all the names of your class (including mentors). Sort the list alphabetically, then print the first element of the list.
On the next line, print the last element of the list.
On the next line, print all the elements of the list (use a "for" loop).

In [25]:
black_owls = ["Gökçe", "Ola", "Tiba", "Julian", "Max", "Katha", "Emily", "Muayad", "Jost", "Lucas"]
sorted_names = sorted(black_owls)
print(sorted_names)

['Emily', 'Gökçe', 'Jost', 'Julian', 'Katha', 'Lucas', 'Max', 'Muayad', 'Ola', 'Tiba']

In [26]:
sorted(black_owls)

['Emily',
 'Gökçe',
 'Jost',
 'Julian',
 'Katha',
 'Lucas',
 'Max',
 'Muayad',
 'Ola',
 'Tiba']

In [27]:
print("First element", black_owls[0])
print("Last element:", black_owls[-1])

First element Gökçe
Last element: Lucas

In [29]:
print("First element:", sorted(black_owls)[0])
print("Last element:", sorted(black_owls)[-1])

First element: Emily
Last element: Tiba

In [30]:
for name in black_owls:
    print(name)

Gökçe
Ola
Tiba
Julian
Max
Katha
Emily
Muayad
Jost
Lucas

In [31]:
for name in sorted(black_owls):
    print(name)

Emily
Gökçe
Jost
Julian
Katha
Lucas
Max
Muayad
Ola
Tiba

Exercise 7
Create a list with all the ages of the students in your class. Iterate through the list using a for loop, and then print every age. Add a conditional inside the loop to only print even ages (Hint: have a look for Python's modulus operator).
Try to do the same thing using a while loop.

In [34]:
black_owls = ["Gökçe", "Ola", "Tiba", "Julian", "Max", "Katha", "Emily", "Muayad", "Jost", "Lucas"]
ages = [40, 30, 41, 45, 35, 43, 24, 33, 32, 31]
for age in ages:
    print(age)

40
30
41
45
35
43
24
33
32
31

In [36]:
for age in ages:
    if age %2 == 0:
     print(age)

40
30
24
32

In [39]:
i = 0
while i < len(ages):
    if ages[i] % 2 == 0:
        print(ages[i])
    i += 1

40
30
24
32

In [47]:
list = [3, 5, 8, 7, 9, 11, 2]
sorted_list = sorted(list)
print(sorted_list[0])

2

In [49]:
numbers = [3, 5, 8, 7, 9, 11, 2]
print(min(numbers))

2

Exercise 8
Write a list containing numbers and print the lowest number.

In [53]:
print(sorted_list[-1])

11

In [51]:
print(max(numbers))

11

Exercise 9
Write a list containing numbers and print the highest number.

Exercise 10
Given below is a list of 10 customers with year of birth, however, the list can be as large as several thousands of customers.

[1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]
Use a loop to iterate over the list and print the age of each customer.

In [61]:
customer_birth_year = [1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]
current_year = 2025
for birth_year in customer_birth_year:
    age = current_year - birth_year
    print(f"Customer born in {birth_year} is {age} years old")

Customer born in 1999 is 26 years old
Customer born in 1995 is 30 years old
Customer born in 2005 is 20 years old
Customer born in 2010 is 15 years old
Customer born in 2007 is 18 years old
Customer born in 2006 is 19 years old
Customer born in 1994 is 31 years old
Customer born in 1996 is 29 years old
Customer born in 1979 is 46 years old
Customer born in 2008 is 17 years old

Exercise 11
Given below is a list of 10 customers with name and year of birth, however, the list can be as large as several thousands of customers.

customer_list = [
                    {"name": "Bob", "age": 1999},
                    {"name": "Jack", "age": 1995},
                    {"name": "Lisa", "age": 2005},
                    {"name": "Maria", "age": 2010},
                    {"name": "Ben", "age": 2007},
                    {"name": "Emma", "age": 2006},
                    {"name": "Oscar", "age": 1994},
                    {"name": "Amy", "age": 1996},
                    {"name": "Paul", "age": 1979},
                    {"name": "Etta", "age": 2008}
                ]
Use a loop to iterate over the list and print the name and age of each customer.
Afterwards, for each customer try to print the sentence "customer_name is customer_age years old".
customer_name and customer_age should correspond to each customer's name and age.

In [63]:
customer_list = [{"name": "Bob", "age": 1999}, {"name": "Jack", "age": 1995},
    {"name": "Lisa", "age": 2005},
                    {"name": "Maria", "age": 2010},
                    {"name": "Ben", "age": 2007},
                    {"name": "Emma", "age": 2006},
                    {"name": "Oscar", "age": 1994},
                    {"name": "Amy", "age": 1996},
                    {"name": "Paul", "age": 1979},
                    {"name": "Etta", "age": 2008}
                ]
current_year = 2025
for customer in customer_list:
    age = current_year - customer["age"]
    print(f"{customer['name']} is {age} years old")

Bob is 26 years old
Jack is 30 years old
Lisa is 20 years old
Maria is 15 years old
Ben is 18 years old
Emma is 19 years old
Oscar is 31 years old
Amy is 29 years old
Paul is 46 years old
Etta is 17 years old

In [ ]:
Exercise 12
Given a list of ages, remove the youngest and the oldest person.

ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
For this exercise try not to use the max() and min() methods.

In [66]:
ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
sorted_ages = sorted(ages)
min_max_removed_ages = sorted_ages[1:-1]
print(min_max_removed_ages)

[11, 12, 13, 14, 20, 23, 24, 25]

In [ ]:
Exercise 13
You have two lists with ages of customers from different cities.

berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]
The task is to create a new list with the common ages.

In [68]:
berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]
for age in berlin:
    if age in munich:
        print(age)

15
13
16
18
19
10

In [74]:
berlin = [15, 13, 16, 18, 19, 10, 12 ]
munich = [7, 13, 15, 20, 19, 18, 10, 16]
berlin_set = set(berlin)
munich_set = set(munich)
common_ages = (berlin_set & munich_set)
print(common_ages)

{10, 13, 15, 16, 18, 19}

Exercise 14
You have a list with ages.

[15, 13, 16, 18, 19, 15, 10]
Remove the duplicates.

In [75]:
ages = [15, 13, 16, 18, 19, 15, 10]
unique_ages = set(ages)
print(unique_ages)

{10, 13, 15, 16, 18, 19}

In [76]:
ages = [15, 13, 16, 18, 19, 15, 10]
unique_ages_sorted = sorted(set(ages))
print(unique_ages_sorted)

[10, 13, 15, 16, 18, 19]

Functions
Exercise 15
Write a function that works like below:

Function name: welcome

welcome('Evelyn') would print- 'Welcome Evelyn, have a nice day!'

welcome('Jost'), would print - 'Welcome Jost, have a nice day!'

In [88]:
def welcome(name):
    print(f"Welcome {name}")
    welcome("name")

In [89]:
hi

NameError: name 'hi' is not defined

Exercise 16
Write a function that takes a string as input and calculates the length.

Function name: get_length

get_length('Hello') would print / return 5.

get_length('Hi') would print / return 2.

In [90]:
print("enew change")

enew change